<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url("assets/office.jpg");
            background-color: rgba(0, 0, 0, 0.5);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

        }
    </style>
</head>
<body>
    <div id="search-container">
        <form id="search-form">
            <input type="text" id="search-input" name="search" placeholder="Search...">
            <input type="text" id="location-input" name="location" placeholder="Country, City, or ZIP">
            <input type="date" id="start-date-input" name="start-date" placeholder="Data inicial">
            <input type="date" id="end-date-input" name="end-date" placeholder="Data final">
            <input type="submit" id="search-button" value="Pesquisar">
        </form>
    </div>
</body>
</html>
